
@font-face {
    font-family: 'Nunito Sans';
    src: url('fonts/nunito-sans-v12-latin-regular.ttf');
}

@font-face {
    font-family: 'Yeseva One';
    src: url('fonts/yeseva-one-v20-latin-regular.ttf');
}

body {
    margin: 0;
    font-family: Nunito Sans, Arial;
    min-width: 1300px;

}

body * {
    box-sizing: border-box;

}

@media (max-width:1300px) {
    .container{
        max-width: 970px;
    }
    
}

@media (max-width:992px) {
    .container{
        max-width: 750px;
    }
    
}

@media (max-width:768px) {
    .container{
        max-width: none;
    }
    
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border: 0;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    outline: 0;
    padding: 13px 33px;


}


.button:hover {
    color: rgba(0, 0, 0, 1);
    transition: color ease-in 50ms ease-out 50ms;
    transition-duration: 200ms;
    cursor: pointer;
}

.button_calculate {
    background: #E3B873;
    border: 1px solid;
    font-style: italic;
    border-radius: 2px;
    border-color: #E3B873;
    color: white;
    text-transform: uppercase;
    outline: 0;
    padding: 20px 23px;
    margin-right: 20px;
}

.button_calculate:hover {
    color: rgba(0, 0, 0, 1);
    transition: color ease-in 50ms ease-out 50ms;
    transition-duration: 200ms;
    cursor: pointer;
}

.button_transparent {
    background: none;
    border: 1px solid #FFFFFF;
    font-style: italic;
    border-radius: 2px;
    border-color: #FFFFFF;
    color: white;
    text-transform: uppercase;
    outline: 0;
    padding: 20px 23px;
}


.button_transparent:hover {
    background-color: rgba(28, 28, 28, 0.9);
    transition: color ease-in 50ms ease-out 50ms;
    transition-duration: 200ms;
    border-color: #FFFFFF;
}


.logo {
    color: #E3B873;
    ;
}

.header {
    background-color: black;

}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation_item {
    margin-right: 47px;
}

.header-navigation_item a {
    text-decoration: none;
    color: white;
}

.header-navigation_item a:hover {
    color: rgba(255, 255, 255, 0.3);
    transition: color ease-in 50ms ease-out 50ms;
    transition-duration: 200ms;
    cursor: pointer;
}

.hero {
    background-image: url('images/hero.jpg');
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hero-container {
    position: relative;
    z-index: 1;
    padding-left: 50px;


}

.title {
    margin: 0;
    width: 600px;
    height: 105px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.rostov {
    color: #E3B873;
}

.title-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    width: 480px;

}

.projects {
    background-color: black;
    padding-bottom: 416px;
    

}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    padding-top: 107px;
    background-color: black;
    padding-left: 50px;
}

.slider-navigation {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: auto;
    padding-bottom: 52.68px;
    padding-left: 0;

}

.slider-navigation_item {
    margin-right: 60.5px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;

}

.slider-navigation_item:hover {
    color: rgba(255, 255, 255, 0.3);
    transition: color ease-in 50ms ease-out 50ms;
    transition-duration: 200ms;
    cursor: pointer;
}

.slider_img {
    width: 100%;
    object-fit: cover;
}

.title2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    width: 253px;
    margin-top: 0px;

}

.project-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    width: 442px;
    height: 86px;
}

.detais-title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.details {
    display: grid;
    grid-template-columns: 1fr 1fr;


}

.details-text {
    width: 160px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    width: fit-content;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    height: 465px;


}

.arrows {
    position: absolute;
    padding-top: 550px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    width: 500px;
}



.onlinecontrol {
    max-width: 817px;
    margin: 0 auto;
    margin-top: -350px;
    color: #FFFFFF;

}

.control_title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}



.control-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.control-image {
    display: flex;
    align-items: center;
    gap: 8px;

}

.video {
    background-size: cover;
    position: relative;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.video-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.play {
    position: absolute;
}

.control-text {
    width: 680px;
    padding-top: 35px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}

.control-hr {
    padding-top: 30px;
}

.control-form {
    display: flex;
    justify-content: space-between;
    gap: 58px;
    padding-top: 90px;
    flex-direction: row;
    align-items: center;

}

.form-titles {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: rgba(54, 54, 54, 0.5);
}

.form-input {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    margin: 0 auto;
}

.submit-form {
    background: rgb(227, 184, 115);
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 2px;
    font-family: 'Nunito Sans';
    border: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
}

.submit-form:hover {
    color: rgba(0, 0, 0, 1);
    background: rgb(198, 163, 106);
    transition: color ease-in 50ms ease-out 50ms;
    transition-duration: 200ms;
    cursor: pointer;
}

.checkbox-wrapper {

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 9px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #181818;
    padding-top: 40px;

}


.repair {
    max-width: 1236px;
    margin: 0 auto;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.repair-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 75.85px;
}

.repair_title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    margin-bottom: 13px;
}

.repair-image {
    display: flex;
    align-items: center;
    gap: 8px;

}

.cards-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
}



.cards-desc-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 92px;
}

.cards-title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin-bottom: 0;
}

.cards-list {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    padding-left: 20px;

}

.card-desc {
    display: flex;
    flex-direction: column;
    width: 330px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    margin-top: -140px;
    align-items: flex-start;
    padding-left: 30px;

}

.card-desc-content {
    height: 286px;
}


.card-desc-content button {
    margin-left: -30px;

}


.price {
    background: #E3B873;
    border: none;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 228px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.request {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 230px;
}

.request-wrapper{
    background-image: url("/images/request-background.jpg");
    background-repeat: no-repeat;
    max-width: 1538px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 130px;
    padding-left: 300px;
}



.process-list {
    list-style-image: url();
}

.process {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}



.request-title {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;

    width: 297px;

}

.process-blank {
    width: 506px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.process-form-container {
    width: 408px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 19px;
}

.process-form {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    padding-top: 39px;
    flex-direction: column;
    align-items: flex-start;
}



.process-form-titles {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    /* identical to box height */


    color: #FFFFFF;

}

.process-form-input {
    background-color: #000000;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px rgba(255, 255, 255, );
    margin: 0 auto;
    width: 408px;
}

.process-checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 9px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    /* or 23px */
    color: #FFFFFF;
}

.call {
    border: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    padding: 19px 21px;
    margin-top: 40px;
    margin-bottom: 27px;
}

.help {
display: flex;
justify-content: flex-end;
align-items: center;
max-width: 1538px;
height: auto;
margin: 0 auto;
padding-bottom: 100px;
padding-top: 20px;
}

.help-wrapper{
    display: flex;
    justify-content: flex-end;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
 


}
.help-text {
    width: 344px;
}


.fantasies {

    background: linear-gradient(#000000a8, #000000a8), url('images/fantasies-back.jpg') center / cover;
    background-size: cover;
    width: 100%;
    height: 864px;
    margin-top: 112px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  
}

.fantasies-list {

    padding-bottom: 0px;
    
}

.fantasies-title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    width: 411px;

}

.fantasies-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    list-style: none;
    padding-left: 0px;
    width: 200px;


}

.fantasies-text li {
    border-bottom: 2px solid transparent;
}

.fantasies-text li:hover {
    color: #E3B873;
    transition: color ease-in 50ms ease-out 50ms;
    transition-duration: 200ms;
    cursor: pointer;
    border-bottom: 2px solid #E3B873;


}

.fantasies-cards {

  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 43px;
  

}

.fimage1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 355px;

}

.mt40 {
    margin-top: -40px;
}

.mt110 {
    margin-top: -110px;
}

.clients {

    margin-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/images/clients-image.jpg");
    background-size: auto;
    background-position: bottom;
    background-repeat: repeat-x;
   padding-bottom: 400px;
    
    
}


.clients-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1236px;

}

.clients-title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;

}

.clients-recommend {
    width: 400px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
}

.client-cards {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.client1 {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 90px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    position: relative;
}

.client-logo {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    gap: 23px;
}

.client-logo img {
    width: 76px;
    height: 76px;
}

.client-name {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
    width: 178px;
}

.client-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    /* or 23px */
    color: #959595;
    width: 324px;

}



.clientbtn{
    position: absolute;
    margin-left: -20px;
    margin-top: 370px;
    width: 293px;
    height: 54px;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);

}
.questions {
    display: flex;
    justify-content: center;
    margin-top: -225px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.questions-form {
    background-color: #000000;
    width: 883px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions-form-wrapper {
    display: flex;
    justify-content: center;
}

.type1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 58px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.questions-title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.question-form-titles {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);

}

.question-form-input {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    width: 231px;
    color: #FFFFFF;
    background-color: #000000;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px rgba(255, 255, 255, );

}


.question-form-input1 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    width: 516px;
    color: #FFFFFF;
    background-color: #000000;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px rgba(255, 255, 255, );
}



.checkbox-wrapper2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 9px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 50px;
}

.submit-question {
    background: #E3B873;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
    height: 51px;
    width: 200px;
    border-radius: 0px;
    border: none;
    color: #FFFFFF;
    margin-bottom: 34.4px;
}

.submit-question:hover {
    color: rgba(0, 0, 0, 1);
    background: rgb(198, 163, 106);
    transition: color ease-in 50ms ease-out 50ms;
    transition-duration: 200ms;
    cursor: pointer;
}

.contacts {

    background: linear-gradient(#000000c7, #000000e3), url('images/contacts-back.jpg') center / cover;
    background-size: cover;
    width: 100%;
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -200px;
}

.address-rostov {
    padding-top: 220px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
    width: 589px;
}

.mailinst{
    display: flex;
    justify-content: center;
    gap:15px;
    padding-bottom: 45px;
}

.map{
    width: 925px;
    height: 465px;
    -webkit-filter: grayscale(100%);
}

.footer{
    background-color: #000000;
    padding-top:60px;
    padding-bottom: 60px;
}
